<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta content="" name="Description"  />
<meta content="" name="Keywords" />
<title>Anwsion首页</title>
<link href="../static/css/default/index_v2.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--head_s-->
<div class="s_default_v2">
	<h2 class="s_v2_title">一个便捷的问答社区</h2>
</div>
<div class="s_default_menu">
		<ul class="v_default">
			<li><a href="javascript:;" class="cur" title="首页">首页</a></li>
			<li><a href="javascript:;" title="帮助">帮助</a></li>
			<li><a href="javascript:;" title="官方社区">官方社区</a></li>
		</ul>
	</div>
<!--head_e-->

<!--content_s-->
<div class="v2_index_content">
	<div class="v3_div">
		<div class="v3_imgs">
			<ul>
				<li><a><img src="../static/css/default/img/default_ad0.png"/></a></li>
			</ul>
		</div>
		<div class="v3_txt">
			<h3 class="v3_h">Anwsion简介</h3>
			<p class="v1_default">Anwsion 			    是一个类似知乎以问答为基础的完全开源的社交网络建站程序，基于PHP+MYSQL应用架构，它集合了问答，digg，wiki等多个程序的优点，帮助用户轻松搭建专业的知识 库和在线问答社区。
            </p>
			<h3 class="v3_h">Anwsion下载</h3>
			<p class="v1_default">版本：0.1<br/>
			   文件大小：47.1MB  <br/> 
			   更新时间：2011-11-11</p>
			<p class="v1_ver"><a href="javascript:;" class="v2_download" title="点击下载">下载 Anwsion 1.0</a><a href="#" class="v2_demo">官方DEMO</a></p>
		</div>
	</div>
</div>
<!--content_e-->
<div class="v3_characteristic">
		<h3 class="v3_h">Anwsion功能特点</h3>
		<ul class="v0_list">
			<li>
				<span class="v0_ico v_img3"></span>
				<h5>快速建立知识库  </h5>
				<p>帮助行业或兴趣圈子快速建立知识型问答社区，内容由用户共同编辑完成，逐步积累形成丰富实用的知识库。</p>
			</li>
			
			<li>
				<span class="v0_ico v_img1"></span>
				<h5>友好的follow机制</h5>
				<p>用户可follow定制自己感兴趣内容或follow其他用户，扩展建立社交关系，形成良好的社区交流氛围。</p>
			</li>
			<li>
				<span class="v0_ico v_img2"></span>
				<h5>支持数据导入 </h5>
				<p>支持第三方开源问答社区或BBS数据导入，例如discuz、phpwind等。</p>
			</li>
			<li>
				<span class="v0_ico v_img0"></span>
				<h5>功能可扩展</h5>
				<p>毫无保留的开源以及规范化的代码结构，高级用户可以随心所欲地替换风格模板或进行功能扩展。</p>
			</li>
		</ul>
		<div class="clear"></div>
</div>
<!--footer_s-->
<div class="footer">Copyright © 2012 Anwsion. All Rights Reserved.</div>
</body>
</html>
