<div style="clear:both;"></div>
</div>
<div id="clearFix"></div>
<div class="footer">
  <div class="fb">
    <p>Powered By <a href="http://www.anwsion.com/?copyright" target="blank">Anwsion <?php echo G_VERSION; ?></a></p>
    Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?>, All Rights Reserved</div>
</div>
<!-- DO NOT REMOVE -->
<div id="ajax_data" style="display:none"></div>
<div style="display:none;"><img src="<?php echo get_setting('base_url');?>/index/?c=ajax&act=crond&<?php echo time(); ?>" width="1" height="1" /></div>
<?php TPL::output('global/__debug.tpl.htm'); ?>
<!-- / DO NOT REMOVE -->
</body>
</html>