<?php TPL::output('admin/admin_header.tpl.htm'); ?>

<body >

<div id="body-wrapper">
	<div id="main-content">
		<div class="clear"></div>
		<div class="content-box">
			<div class="content-box-header">
				<h3>系统设置</h3>
				<ul class="content-box-tabs">
				</ul>
				<div class="clear"></div>
			</div>
			<div class="content-box-content">
				<div class="tab-content default-tab" id="tab1">
					<form id="_save_form" action="?c=setting&act=sys_save_ajax" method="post">
						<fieldset>
					<?php  foreach($this->vars as $key => $var){ ?>

					<?php if($var['group_line'] && !$this->group_id){ ?>
						<hr style="color:#CCCCCC;">
					<?php } ?>

					<?php if($var['varname'] == "upload_dir"){ ?>
					<p>
						<label><?php echo $var['desc']; ?>：(目前网站根目录绝对路径:<?php echo realpath(GZ_PATH . '../'); ?>)</label>
						<input name="<?php echo $var['varname']; ?>" class="text-input small-input" type="text" value="<?php echo $var['value']; ?>"/>
					</p>
					<?php }else if($var['varname'] == "from_email"){ ?>
						<p>
						<label><?php echo $var['desc']; ?>：</label>
							<input name="<?php echo $var['varname']; ?>" class="text-input small-input" type="text" value="<?php echo $var['value']; ?>"/>
						</p>
					<?php }else if($var['varname'] == "email_type"){ ?>
					<p>
						<label><?php echo $var['desc']; ?></label>
						<select class="small-input" name="<?php echo $var['varname']; ?>" onChange="change_send_email($(this))">
							<?php foreach($var['select_list'] as $skey => $val){ ?>
								<option value="<?php echo $val['id']; ?>"<?php if($var['value'] == $val['id']){ ?> selected=true<?php } ?>><?php echo $val['title']; ?></option>
							<?php } ?>
						</select>
						</p>
						<p>
						<label>接收测试邮箱地址</label>
						<input name="test_email" class="text-input small-input" type="text" value=""/>
						&nbsp;<input class="button" type="button" onClick="test_email_setting($('#_save_form'), $(this));" value="  发送测试邮件  " />
					</p>
					<?php }else{ ?>
						<p groupid="<?php echo $var['groupid'];?>">
						<label><?php echo $var['desc']; ?>：</label>
						<?php if($var['type'] == "string"){?>
							<input name="<?php echo $var['varname']; ?>" class="text-input small-input" type="text" value="<?php echo $var['value']; ?>"/>
						<?php }elseif($var['type'] == "int"){?>
							<input name="<?php echo $var['varname']; ?>" class="text-input small-int" type="text" value="<?php echo $var['value']; ?>"/>
						<?php }elseif($var['type'] == "textarea"){?>
							<textarea name="<?php echo $var['varname']; ?>" cols="100" rows="3" id="<?php echo $var['varname']; ?>"><?php echo $var['value']; ?></textarea>
						<?php }elseif($var['type'] == "bool"){?>
							<input type="radio" name="<?php echo $var['varname']; ?>" value="Y" <?php if($var['value']=='Y') echo " checked=true"; ?>/>是
							<input type="radio" name="<?php echo $var['varname']; ?>" value="N" <?php if($var['value']=='N') echo " checked=true"; ?>/>否
						<?php }elseif($var['type'] == "select"){?>
						<select class="small-input" name="<?php echo $var['varname']; ?>">
							<?php foreach($var['select_list'] as $skey => $val){ ?>
								<option value="<?php echo $val['id']; ?>"<?php if($var['value'] == $val['id']){ ?> selected=true<?php } ?>><?php echo $val['title']; ?></option>
							<?php } ?>
						</select>
						<?php } ?>
					</p>
					<?php } ?>
					<?php } ?>
						<p>
							<input class="button" type="button" onClick="ajax_post($('#_save_form'), _form_process);" value="  保  存  " />
						</p>
						</fieldset>
						<div class="clear"></div>
					</form>
				</div>
		</div>
		
		<div class="clear"></div>
		<div id="notf_tip" style="display:none;" class="notification png_bg"> <a href="javascript:;" class="close"><img src="resources/images/icons/cross_grey_small.png" alt="关闭" /></a>
			<div id="notf_cont"></div>
		</div>
		
	</div>
</div>

<script type="text/javascript">
change_send_email($(":input[name=email_type]"));
</script>

<?php TPL::output('admin/admin_footer.tpl.htm'); ?>