<div class="contant_left readns_discus dis_ListEntry index">
    <h2 class="c_title">
		<a class="default_gray_but fr" id="delete_draft" href="javascript:;" style="display:none;" onclick="if (confirm('确认清空所有草稿吗?')) { $.each($('a.delete_draft'), function (i, e) { $(e).click(); }); }">清空所有</a>
      <p class="sux" id="list_nav" style="display:none"><a href="#all" id="list_nav_all">全部</a><!--<big>·</big><a href="#questions">问题</a>--></p>
      <label id="c_title">最新动态</label></h2>
    <div id="c_list">
    	<p style="padding: 15px 0" align="center"><img src="<?php echo G_STATIC_URL; ?>/css/img/loading_b.gif" alt="" /></p>
    </div>
    <p class="more" id="bp_more"><a href="#">更多 &gt;&gt;</a></p>
  </div>