<html style="border: medium none;font-size: 1em; list-style: none outside none; margin: 0; outline: medium none; padding: 0; text-decoration: none;">
<div class="wrapper"  style="margin: 20px auto 0; width: 500px; padding-top:16px; padding-bottom:10px;">
<div class="header clearfix">
<a class="logo" href="<?php echo get_setting('base_url'); ?>" target="_blank" style="float:left">
<b><?php echo get_setting('site_name'); ?></b>
</a>
</div>
<br style="clear:both; height:0" />
<div class="content"  style="background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #E9E9E9; margin: 2px 0 0; padding: 30px;">

<?php echo $this->content;?>

<p class="footer"  style="border-top: 1px solid #DDDDDD; padding-top:6px; margin-top:25px; color:#838383;">&copy; <?php echo get_setting('site_name'); ?> 2012</p>
</div>
</div>
</html>