<?php TPL::output('global/__public_header_v2.tpl.htm'); ?>

<section class="regSection">
<h3 class="regtitle"><p class="t">获得加入资格</p></h3>
  <form action="" method="post" id="apply_form">
  <input type="hidden" name="act" value="apply_account_ajax"/>
  <ul id="reg_moster" class="regmoster">
	
	<li><input type="text" value="你的邮箱" title="你的邮箱" class="userTxt" id="userEmail" name="email"><span id="tip_userEmail"></span></li>
	<li><input type="text" value="真实姓名" title="真实姓名" class="userTxt" id="userName" name="user_name"><span id="tip_userName"></span></li>
	
	<li class="pos"><textarea title="获取邀请码理由" class="userTxt txtare" id="userReason" name="reason">申请理由</textarea><span class="tps" id="tip_userReason"></span></li>
	
  </ul>
  </form>
</section>
<section class="userLister" id="regLister">
	<a href="javascript:;" onClick="ajax_post($('#apply_form'),_tips_form_processer); return false;" class="regbut">提交申请</a>
  <span class="sl"></span> <span class="s2"></span>
</section>
  
<script type="text/javascript">

(function(s){
	
	var e = /^[A-Za-z\d]+([-_\.\+]*[A-Za-z\d])*@([A-Za-z\d][A-Za-z\d-]{0,61}[A-Za-z\d]\.)+[A-Za-z\d]{2,6}$/;
	var tp = s.getElementById('tip_userEmail');
	var usrTp = s.getElementById('tip_userName');
	var tpu = s.getElementById('tip_userReason');

	
	s.getElementById('userEmail').onblur = function(){
	
		if(this.value == ''){
		
			this.value ='你的邮箱';
		}
		
		if(e.test(this.value)){
			
			tp.className = 'right';
			tp.innerHTML ='';
			
		}else{
			
			tp.innerHTML = '电子邮箱输入错误';
			tp.className ='err';
		}
	}
	
	s.getElementById('userEmail').onfocus = function(){
		
		if(this.value == '你的邮箱'){
		
			this.value ='';
		}
		tp.className = 'explain';
		tp.innerHTML = '请输入你常用的电子邮箱作为你的账号';
		
	}
	
	s.getElementById('userName').onfocus = function(){
	
		if(this.value =='真实姓名'){
			this.value=''
		}
		
		usrTp.className = 'explain';
		usrTp.innerHTML = '请输入你的真实姓名';
	
	}
	
	s.getElementById('userName').onblur = function(){
	
		if(this.value ==''){
			
			this.value='真实姓名';
			usrTp.className = 'err';
			usrTp.innerHTML ='你的姓名输入有误';
			
		
		}else if(this.value !=='真实姓名' && this.value !==''){
			
			usrTp.className = 'right';
			usrTp.innerHTML ='';
			
			if(this.value.length <=1){
				usrTp.className = 'err';
				usrTp.innerHTML ='你的姓名输入有误';
			}
			
		}
		
	
	}
	s.getElementById('userReason').onfocus = function(){
	
		if(this.value =='申请理由'){this.value=''}
		tpu.className ='tps explain';
		tpu.innerHTML = '请申请理由，不得少于10个字符';
	}
	s.getElementById('userReason').onblur = function(){
		if(this.value ==''){
			this.value='申请理由'
			tpu.className = 'tps err';
			tpu.innerHTML ='你的申请理由输入有误';
		}else if(this.value !=='申请理由' && this.value !==''){
			tpu.className = 'tps right';
			tpu.innerHTML ='';
			
			if(this.value.length < 10){
				tpu.className = 'tps err';
				tpu.innerHTML ='你的申请理由输入有误';
			}
			
		}
		
		
	}
	
	
})(document)
</script>

<?php TPL::output('global/__footer_v2.tpl.htm'); ?>
