<?php TPL::output('global/__public_header_v2.tpl.htm'); ?>

<div class="default_reg_success">
	
	<div class="r_reg">
		<h2>找回密码成功！</h2>
		<p class="bz_v2">密码重置链接已经发到您邮箱 &nbsp;<span class="mail"><?php echo $this->email; ?></span></p>
		<p class="bz_v2">请登录您的邮箱并点击密码重置链接进行密码更改</p>
		<?php if($this->common_email){ ?>
			<p class="bz_v3"><a class="default_blue_but" href="<?php echo $this->common_email['url']; ?>" title="点击进入<?php echo $this->common_email['name']; ?>" target=_blank>查看邮箱</a></p>
		<?php } ?>
	</div>
	
	<p class="reg_bz">
	   <b>还没收到邮件？</b>
	   • 尝试到广告邮件、垃圾邮件目录里面找找看<br/>
	   • 或者再次<a href="<?php echo get_setting('base_url'); ?>/account/?c=find_password">找回密码</a>
	</p>
</div>


<?php TPL::output('global/__footer_v2.tpl.htm'); ?>