<?php TPL::output('global/__public_header_v2.tpl.htm'); ?>

<section style="background:#fff;" class="regSection">
<h3 class="regtitle"><p class="t fb"><img src="<?php echo G_STATIC_URL; ?>/css/img/key.png">&nbsp;&nbsp;找回密码</p></h3>
<div class="sc">
		<span>修改密码成功！</span><br><a href="<?php echo get_setting('base_url');?>/">返回<?php echo get_setting('site_name'); ?>首页</a>登录。<br>
	</div>
</section>
<section class="userLister" id="regLister">
  <span class="sl"></span> <span step2_process_successclass="s2"></span>
</section>

<?php TPL::output('global/__footer_v2.tpl.htm'); ?>