<?php TPL::output('global/__header_v2.tpl.htm'); ?>

<!--header_e-->
<div class="bd pbd">
 
  <!--left_nav_s-->

  <div class="contant_left readns_discus ps-wd">
  <?php TPL::output('account/setting_menu.tpl.htm'); ?>
	<div id="td-0" style="display:block;">
	

    <form id="setting_form" method="post" action="<?php echo get_setting('base_url');?>/account/?c=setting&act=editpassword_process_ajax">
	<ul class="ps-info" >
		<li><label>当前密码：</label><input name="old_password" type="password" class="add-t2" id="old_password"  style="width:200px;"  value=""  size="30" /></li>
		<li><label>新的密码：</label><input name="password" type="password" class="add-t2" id="password"  style="width:200px;"  value=""  size="30"/></li>

		<li><label>确认密码：</label><input name="re_password" type="password" class="add-t2" id="re_password"   style="width:200px;" value=""  size="30"/></li>
        <li><a href="javascript:void(0);" onclick="ajax_post($('#setting_form'),_tips_form_processer); return false;" class="seve_s">保存</a></li>
	</ul>
    </form>
	</div>
   
	</div>

	<!--微博绑定_e-->
    </div>
  <!--left_nav_e-->
</div>

<?php TPL::output('global/__footer_v2.tpl.htm'); ?>