	<ul class="hot_topic">
		<?php foreach ($this->topics_list AS $key => $val) { ?>
		<li><a href="<?php echo get_setting('base_url');?>/topic/?topic_title=<?php echo $val['topic_title']; ?>" target="_blank" class="user_id"><img src="<?php if ($val['topic_pic']) { echo get_setting('upload_url').'/topic/'.str_replace('32_32', '50_50', $val['topic_pic']); } else { echo G_STATIC_URL.'/common/topic-min-img.jpg'; } ?>"/></a>
		<p></p><a href="<?php echo get_setting('base_url');?>/topic/?topic_title=<?php echo $val['topic_title']; ?>" target="_blank" class="bold"><?php echo $val['topic_title']; ?></a> <a href="javascript:void(0);" class="addtips<?php if ($val['focus']) { ?> cur<?php } ?>" rel="添加关注" onclick="focus_topic($(this), $(this).find('em'), <?php echo $val['topic_id']; ?>);"><em><?php if ($val['focus']) { ?>取消<?php } ?>关注</em></a></p>
		<p><?php echo $val['focus_count']; ?> 人关注该话题<br/>问题：<?php echo $val['topic_count']; ?></p></li>
		<?php } ?>
		<p style="clear:both;"></p>
	</ul>