<?php TPL::output('global/__public_header_v2.tpl.htm'); ?>

<div class="default_reg_success">
	
	<div class="r_reg">
		<h2>感谢您的注册！</h2>
		<p class="bz_v2">激活链接已经发到您邮箱 &nbsp;<span class="mail">globalbreak@gmail.com</span></p>
		<p class="bz_v2">点击邮箱的链接即可激活账户</p>
		<p class="bz_v3"><a class="default_blue_but" href="javascript:;">查看邮箱</a></p>
	</div>
	
	<p class="reg_bz">
	   <b>还没收到确认邮件？</b>
	   • 尝试到广告邮件、垃圾邮件目录里面找找看<br/>
	   • 邮件地址写错了？很抱歉，你需要<a href="javascript:;">重新注册</a><br/>
	   • 或者再次<a href="javascript:;">发送确认邮件</a>
	</p>
</div>


<?php TPL::output('global/__footer_v2.tpl.htm'); ?>